@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-blue-gradient {
    background: linear-gradient(to right, #38bdf8, #6366f1);
    background-clip: text;
    color: transparent;
  }

  .bg-blue-gradient {
    background: linear-gradient(to right, #38bdf8, #6366f1);
  }
}

a {
  @apply cursor-pointer;
}
